.light {
	font-weight: lighter;
}
.heavy {
	font-weight: bold;
	font-size: 1.6rem;
}
.loading {   /* to use in your component file, use `import loading from '<path-to->/images/loading.gif', then in img tag src={loading}  */
	width: 35px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.center {   /* this will hard center a block element in the viewport on both axis */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}